<main>
  <h1>Welcome to List Thing</h1>
</main>

<div>
  <form class="" action="/lists" method="get">
    <input class="btn btn-primary btn-block" type="submit" name="submit" value="View All My Lists">
  </form>
</div>
<p>

</p>
<div>
  <form class="" action="/next" method="get">
    <input class="btn btn-primary btn-block" type="submit" name="submit" value="Random Task">
  </form>
</div>
